body {
    /* background: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
    
    /* Essa propriedade chama shorthand ou atalho */
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 612px;
    border: 1px solid red;
    margin: auto;
}

/* 
    * Comentários de Estilização *
    * 1. Normalmente não se coloca a altura "height:" dentro das propriedades
    do css, pois a altura tende seguir ao elemento da página.
    * 2. 


*/