body {
    /* background: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
    
    /* Essa propriedade chama shorthand ou atalho */
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 612px;
    border: 1px solid red;
}