* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* background: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

  /* Essa propriedade chama shorthand ou atalho */
  background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: auto;
  margin-top: 56px;
}

#profile {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 400;
  line-height: 24px;
}

/* 
    * Comentários de Estilização *
    * 1. Normalmente não se coloca a altura "height:" dentro das propriedades
    do css, pois a altura tende seguir ao elemento da página.
    * 2. Em elementos inline não conseguimos aplicar margin auto
    * 3. Os navegadores já possuem um font-size: 16 como padrão
    * 4.


*/
